.UltraWebTab1DefT{height:28px;width:80px;cursor:Hand;}
.UltraWebTab1HovT{height:28px;width:80px;cursor:Hand;background-image:url(/skin/images/corp_main_top_menu1_buttonB.gif);}
.UltraWebTab1DisT{height:28px;width:80px;color:Gray;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;cursor:Default;}
.UltraWebTab1SelT{height:28px;width:80px;cursor:Default;background-image:url(/skin/images/corp_main_top_menu1_button.gif);}

.UltraWebTab1DefT0{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;}
.UltraWebTab1HovT0{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;background-image:url(/skin/images/corp_main_top_menu1_buttonB.gif);}
.UltraWebTab1SelT0{height:28px;width:80px;color:White;padding:2px 2px 0px 2px;cursor:Default;background-image:url(/skin/images/corp_main_top_menu1_button.gif);}
.UltraWebTab1DisT0{height:28px;width:80px;color:Gray;margin:0px 0px 0px 0px;padding:2px 2px 0px 2px;cursor:Default;}

.UltraWebTab1DefT1{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;}
.UltraWebTab1HovT1{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;background-image:url(/skin/images/corp_main_top_menu1_buttonB.gif);}
.UltraWebTab1SelT1{height:28px;width:80px;color:White;padding:2px 2px 0px 2px;cursor:Default;background-image:url(/skin/images/corp_main_top_menu1_button.gif);}
.UltraWebTab1DisT1{height:28px;width:80px;color:Gray;margin:0px 0px 0px 0px;padding:2px 2px 0px 2px;cursor:Default;}

.UltraWebTab1DefT2{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;}
.UltraWebTab1HovT2{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;background-image:url(/skin/images/corp_main_top_menu1_buttonB.gif);}
.UltraWebTab1SelT2{height:28px;width:80px;color:White;padding:2px 2px 0px 2px;cursor:Default;background-image:url(/skin/images/corp_main_top_menu1_button.gif);}
.UltraWebTab1DisT2{height:28px;width:80px;color:Gray;margin:0px 0px 0px 0px;padding:2px 2px 0px 2px;cursor:Default;}

.UltraWebTab1DefT3{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;}
.UltraWebTab1HovT3{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;background-image:url(/skin/images/corp_main_top_menu1_buttonB.gif);}
.UltraWebTab1SelT3{height:28px;width:80px;color:White;padding:2px 2px 0px 2px;cursor:Default;background-image:url(/skin/images/corp_main_top_menu1_button.gif);}
.UltraWebTab1DisT3{height:28px;width:80px;color:Gray;margin:0px 0px 0px 0px;padding:2px 2px 0px 2px;cursor:Default;}

.UltraWebTab1DefT4{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;}
.UltraWebTab1HovT4{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;background-image:url(/skin/images/corp_main_top_menu1_buttonB.gif);}
.UltraWebTab1SelT4{height:28px;width:80px;color:White;padding:2px 2px 0px 2px;cursor:Default;background-image:url(/skin/images/corp_main_top_menu1_button.gif);}
.UltraWebTab1DisT4{height:28px;width:80px;color:Gray;margin:0px 0px 0px 0px;padding:2px 2px 0px 2px;cursor:Default;}

.UltraWebTab1DefT5{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;}
.UltraWebTab1HovT5{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;background-image:url(/skin/images/corp_main_top_menu1_buttonB.gif);}
.UltraWebTab1SelT5{height:28px;width:80px;color:White;padding:2px 2px 0px 2px;cursor:Default;background-image:url(/skin/images/corp_main_top_menu1_button.gif);}
.UltraWebTab1DisT5{height:28px;width:80px;color:Gray;margin:0px 0px 0px 0px;padding:2px 2px 0px 2px;cursor:Default;}

.UltraWebTab1DefT6{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;}
.UltraWebTab1HovT6{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;background-image:url(/skin/images/corp_main_top_menu1_buttonB.gif);}
.UltraWebTab1SelT6{height:28px;width:80px;color:White;padding:2px 2px 0px 2px;cursor:Default;background-image:url(/skin/images/corp_main_top_menu1_button.gif);}
.UltraWebTab1DisT6{height:28px;width:80px;color:Gray;margin:0px 0px 0px 0px;padding:2px 2px 0px 2px;cursor:Default;}

.UltraWebTab1DefT7{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;}
.UltraWebTab1HovT7{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;background-image:url(/skin/images/corp_main_top_menu1_buttonB.gif);}
.UltraWebTab1SelT7{height:28px;width:80px;color:White;padding:2px 2px 0px 2px;cursor:Default;background-image:url(/skin/images/corp_main_top_menu1_button.gif);}
.UltraWebTab1DisT7{height:28px;width:80px;color:Gray;margin:0px 0px 0px 0px;padding:2px 2px 0px 2px;cursor:Default;}

.UltraWebTab1DefT1{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;}
.UltraWebTab1HovT1{height:28px;width:80px;padding:2px 2px 0px 2px;cursor:Hand;background-image:url(/skin/images/corp_main_top_menu1_buttonB.gif);}
.UltraWebTab1SelT1{height:28px;width:80px;color:White;padding:2px 2px 0px 2px;cursor:Default;background-image:url(/skin/images/corp_main_top_menu1_button.gif);}
.UltraWebTab1DisT1{height:28px;width:80px;color:Gray;margin:0px 0px 0px 0px;padding:2px 2px 0px 2px;cursor:Default;}

